<div class="row">
  <div class="col-12">
    <div class="clock">
      <div class="outer-clock-face">
        <div class="marking marking-one"></div>
        <div class="marking marking-two"></div>
        <div class="marking marking-three"></div>
        <div class="marking marking-four"></div>
        <div class="inner-clock-face">
          <div class="hand hour-hand" [style.transform]="hourDegrees"></div>
          <div class="hand min-hand" [style.transform]="minsDegrees"></div>
          <div class="hand second-hand" [style.transform]="secondsDegrees"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <app-custom-time-input (clockStateChange)="emitChanges($event)"></app-custom-time-input>
  </div>
</div>
